* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 249, 212);
}